body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    background: linear-gradient(-45deg, #000000, #6a1c1c, #000000, #f80e0e);
    background-size: 400% 400%;
    animation: gradient 10s linear infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

section {
    padding: 20px;
}

footer {
    padding: 20px;
    text-align: center;
}

button {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #cccccc;
}
#logo{
    width: 600px;
    height: 200px;
    display: block;
    margin: auto;
}
#tituloPrincipal{
    text-align: center;
    padding-top: 40px;
    font-family: Jokerman;
}
#navOpciones{
    text-align: center;
    padding-top: 30px;
}

#contenidoPrincipal{
    text-align: center;
    padding-top: 30px;
}

@media screen and (max-width: 740px) {
    #logo {
        width: 100%;
        max-width: 600px;
        height: auto;
        display: block;
        margin: auto;
    }

    #tituloPrincipal {
        padding-top: 20px;
    }

    #navOpciones {
        padding-top: 20px;
    }

    #contenidoPrincipal {
        padding-top: 20px;
    }
}