body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    background: linear-gradient(-45deg, #000000, #6a1c1c, #000000, #f80e0e);
    background-size: 400% 400%;
    animation: gradient 10s linear infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#logo {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

#navOpciones {
    list-style-type: none;
    padding-top: 10px;
}

#navOpciones li {
    display: inline;
    margin-right: 20px;
}

#navOpciones a {
    color: #fff;
    text-decoration: none;
}

#contenidoPrincipal {
    padding: 20px;
    text-align: center;
}

#personajes, #pelicula, #comprobar, #resultado {
    margin-bottom: 20px;
}

#resultado {
    font-weight: bold;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
ul{
    text-decoration: none;
    list-style-type: none;
}

@media (max-width: 740px) {
    #navOpciones {
        display: block;
        text-align: center;
        margin-right: 30px;
    }

    #navOpciones li {
        display: block;
        text-align: center;
    }
    #listaPersonajes{
      margin-right: 50px;

    }
    #pelicula h2{
        font-size: 20px;
    }
}